.login-wrapper {
  display: flex;
  flex-direction: column;
  width: clamp(400px, 80vw, 90vw);
  height: 90%;
  margin-top: var(--spacing-l);
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--bg-light);
  padding: var(--spacing-l);
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-button {
  height: 50px;
  font-size: 30px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}