.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--spacing-m);
  justify-content: space-between;
  align-items: center;
}

.input-label {
  background-color: var(--bg-light);
  position:relative;
  align-self:baseline;
  padding: 0;
  width:min-content;
  margin: -13px 12%;
  z-index: 1  ;
  color: var(--text);
  font-size: 1.5rem;
  font-family: Jaro;
  white-space: nowrap;

}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
}

.input-container.sm input {
  height: 1.75rem;
  font-size: 0.8rem;
}

.input-container.md input {
  height: var(--input-height);
  font-size: 1rem;
}

.input-container.lg input {
  height: 3rem;
  font-size: 1.1rem;
}

.input-icon {
  position: absolute;
  left: var(--spacing-s);
  display: flex;
  align-items: center;
  color: var(--text-muted);
  pointer-events: none;
  font-size: 1rem;
}

.input-field {
  width: 100%;
  padding: 0 var(--spacing-s);
  padding-left: var(--spacing-m);
  border: 1px solid var(--text);
  border-radius: var(--border-radius);
  background-color: var(--bg-light);
  color: var(--text);
  outline: none;
  transition: border-color 0.2s;
}

.input-field.has-icon {
  padding-left: calc(var(--spacing-s) + 1.5rem);
}

.input-field:focus {
  border-color: var(--accent);
}

.input-error {
  color: #f87171;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.input-field.has-error {
  border-color: #f87171;
}

.input-wrapper:focus-within .input-label.has-error,
.input-wrapper .input-label.has-error {
  color: #f87171;
}
.input-helper {
  color: var(--text-muted);
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.input-wrapper:focus-within .input-label {
  color: var(--accent);
}

/* Input.css */
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-light) inset !important;
  box-shadow: 0 0 0 30px var(--bg-light) inset !important;
  -webkit-text-fill-color: var(--text) !important;
  caret-color: var(--text);
}

.input-field:autofill {
  background-color: var(--bg-light) !important;
  color: var(--text) !important;
}